@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --color-green: #9150fa;
    --color-rocket: #7159c1;
    --color-header: rgba(0,0,0,0.1);
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #232a36;
    margin: 0;
}

header {
    padding: 30px;
    background-color: --color-header;
    border-bottom: 1px solid #333842;
}

.links a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    line-height: 30px;
    margin: 0 30px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

#title img {
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 32px;
    height: 150px;
    width: 150px;
}

#title a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 72px;
    margin: 30px;
}

.content p {
    color: white;
    opacity: 0.8;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;

    max-width: 700px;
    text-align: center;
}

.content h3 {
    color: white;
    opacity: 0.9;
    font-weight: bold;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;

    max-width: 700px;
    text-align: left;
}

.content ul div {
    color: white;
    font-weight: bold;
    opacity: 0.9;
    margin: 32px auto;
    font-size: 20px;
    line-height: 30px;

    max-width: 700px;
    text-align: left;
}

.content ul li {
    color: white;
    opacity: 0.9;
    margin: 20px auto;
    font-size: 20px;
    line-height: 30px;

    max-width: 700px;
    text-align: left;
}

#footer {
    line-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}


#git a img {
    height: 50px;
    opacity: 0.6;
}

#insta a img {
    height: 58px;
    opacity: 0.4;
}

#face a img {
    height: 60px;
}

.links #footer div a img:hover {
    transition-delay: 60ms;
    filter: invert(65%);
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;    
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 42px;
    margin: 30px;
}

/*=== CARDS ===*/

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    background-color: var(--color-header);
    color: rgba(255,255,255,0.8);
    border-radius: 25px;
    align-self: center;
    justify-self: center;
}

.card__image-container img {
    height: 150px;
    padding: 30px;
}

.card__info {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card__price {
    background-color: var(--color-header);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

.card:hover {
    cursor: pointer;
    border: 2px solid var(--color-rocket);
}

/*=== MODAL OVERLAY ===*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 60%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
    border-radius: 5px;
}

.modal .maximize-modal {
    color: black;
    position: absolute;
    right: 40px;
    top: 16px;
    cursor: pointer;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/*=== MODAL.ACTIVE ===*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

/*=== MODAL.MAX ===*/

.modal.maximize {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.modal.maximize iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
}